.table{
  height: 100vh;
  background-image: linear-gradient(limegreen, #34600c);
  border-radius: 200px;
}

.table-head{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-head-title{
  font-size: 40px;
  font-family: Open sans-serif;
}

.board{
  display: flex;
  margin-bottom: 6vh;
}

.card{
  background-image: url("https://js-holdem.s3-us-west-1.amazonaws.com/deck400.png");
  margin: 0px 0px 0px 5px;
  border-radius: 7px;
  width: 72px;
  height: 106px;
}

.hand{
  display: flex;
  flex-direction: column;
  margin: 0vh 3vw 5vh 2vw;
}

.hand-cards{
  display: flex;
}

.hand-val{
  display: flex;
  flex-direction: column;
}

.hand-val-txt{
  font-family: Open sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.players{
  height: 51vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.new {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}

.new-btn{
  width: 14vw;
  height: 6vh;
  font-size: 24px;
  font-family: Open sans-serif;
  font-weight: 700;
  color: #FF5555;
  background-color: black;
  border: black;
  border-radius: 10px;
  cursor: pointer;
}
