.table{
  height: 100vh;
  background-image: linear-gradient(limegreen, #34600c);
}

.table-head{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board{
  display: flex;
  margin-bottom: 10vh;
}

.card{
  background-image: url("https://js-holdem.s3-us-west-1.amazonaws.com/deck400.png");
  margin: 0px 0px 0px 5px;
  border-radius: 7px;
  width: 72px;
  height: 106px;
}

.hand{
  display: flex;
  margin: 0vh 8vw 10vh 2vw;
}

.players{
  height: 51vh;
  width: 120vw;
  display: flex;
  flex-wrap: wrap;
}

.new {
  display: flex;
  justify-content: center;
}

.new-btn{
  width: 14vw;
  height: 6vh;
  font-size: 20px;
  font-weight: bolder;
  color: #FF5555;
  background-color: black;
  border: black;
  border-radius: 10px;
  cursor: pointer;
}
